<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="select">
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="optionValue" (change)="onOptionChange()">
                   
                      <option value="income" > Income </option>
                      <option value="expense" > Expenses </option>
                    </select>
                </p>
            </div>

            <div class="field is-narrow">
                <p class="control">
                    <input onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" required name="amount" style="width: 100px;" class="input" placeholder="Amount" [ngModel]="item.amount">
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input type="text" required name="description" class="input" placeholder="description" [ngModel]="item.description">
                </p>
            </div>

            <div class="field is-narrow">
                <button type="submit" class="button" [ngClass]="{'is-primary': isNewItem, 'is-success': !isNewItem}" [disabled]="!itemForm.valid"> 
                    <p *ngIf="isNewItem"> Add </p>
                    <p *ngIf="!isNewItem"> Update </p>  
                </button>
            </div>
        </div>
    </div>
</form>